# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MongoDB
mongodb-data/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# ESLint
.eslintcache

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#AI agents

opencode.json